<script lang="ts" setup>
import { ref } from "vue";
const emo = ref("");
</script>
<template>
  <v-container>
    <v-row>
      <v-col cols="6">
        <div style="width: 400px">
          <v-img src="feeling_imgs/angry.png" v-if="emo === 'Angry'"></v-img>
          <v-img src="feeling_imgs/cute.png" v-if="emo === 'Cute'"></v-img>
          <v-img
            src="feeling_imgs/excited.png"
            v-if="emo === 'Excited'"
          ></v-img>
          <v-img src="feeling_imgs/pain.png" v-if="emo === 'Pain'"></v-img>
          <v-img
            src="feeling_imgs/shocked.png"
            v-if="emo === 'Shocked'"
          ></v-img>
          <v-img src="feeling_imgs/smile.png" v-if="emo === 'Smile'"></v-img>
        </div>
      </v-col>
      <v-col class="text-center">
        <h1>{{ emo }}</h1>
        <div>
          <VBtn class="space" @click="emo = 'Angry'">ANGRY</VBtn>
        </div>
        <div>
          <VBtn class="space" @click="emo = 'Cute'">CUTE</VBtn>
        </div>
        <div>
          <VBtn class="space" @click="emo = 'Excited'">EXCITED</VBtn>
        </div>
        <div>
          <VBtn class="space" @click="emo = 'Pain'">PAIN</VBtn>
        </div>
        <div>
          <VBtn class="space" @click="emo = 'Shocked'">SHOCKED</VBtn>
        </div>
        <div>
          <VBtn class="space" @click="emo = 'Smile'">SMILE</VBtn>
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.space {
  margin: 10px;
  width: 500px;
  align-items: center;
}
.text-center {
  text-align: center;
}

.background {
  background-color: yellow;
}
button:focus {
  background: yellow;
}
</style>
