<script lang="ts" setup>
import { ref, reactive, computed } from "vue";
const state = reactive({ num: "0" });
const result = computed(function () {
  return parseInt(state.num);
});
const num = ref(0);
</script>

<template>
  <div>
    <v-container>
      <v-text-field
        label="Please input Number"
        v-model.number="num"
        :rules="[(v) => !!v || 'Number is not empty!!!']"
      >
      </v-text-field>

      <v-container style="overflow-y: auto; margin: 5px">
        <v-row>
          <v-col
            v-for="(item, index) in num"
            :key="index"
            cols="1"
            style="margin-bottom: 30px"
          >
            {{ item }}
          </v-col>
        </v-row>
      </v-container>
    </v-container>
  </div>
</template>
